<img src="Images/istockphoto-1306218631-612x612.jpg" style="width:900px;height:600px">

## EXPLORATORY DATA ANALYSIS FOR A NEW MOTION PICTURE STUDIO

## TEAM:
1. Stanley Macharia

2. Lionel Ajeliti

3. Linet Awino

4. Stephen Munyiala

5. Sharon Mumanyi

6. Justin Mbugua

# Introduction

Exploratory Data Analysis (EDA) is important for emerging studios into the ever-changing landscape of the entertainment business when it comes to what works at the boxoffice. This project performs exploratory data analysis on historical film data, looking for patterns that tie to the financial results of the film. Popular Genre, Release Timing, Budget Allocation, and Consumer Reception analysis will help to obtain actionable insights for a nascent movie studio’s content planning. The studio can make data-informed production decisions according to the market and future pattern which align so that the content produced has maximum chance to succeed and give maximum profit.

# Project Overview

## Business Problem

Your company now sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of your company's new movie studio can use to help decide what type of films to create.

## Business Understanding

The company is venturing into the interesting global of filmmaking with the release of a new movie studio. However, getting into the film industry with out prior revel in comes with its demanding situations. To ensure the studio starts strong, our role as data analysts is to dive deep into the dynamics of the film industry. By knowledge what drives container office achievement, we are able to offer actionable insights to assist form the studio’s content advent and manufacturing strategies.

To do this, we’ll discover key questions about the enterprise:

1. What genres consistently dominate the entertainment industry? Understanding which issues resonate with audiences can manual decisions at the styles of memories to tell.

2. How do common ratings effect container office fulfillment? Examining the link among audience and critic evaluations and sales can display whether exceptional directly drives profits.

3. Which seasons are best for movie releases? Timing is the whole thing, and understanding while audiences are most active can maximize viewership.

4. What’s the relationship between production budgets and global gross? This will assist the studio balance investment with expected returns.

5. Which genres are the top-rated? Understanding what audiences and critics love can assist discover niches or strengths to pursue.

## Data Understanding

For the exploratory analysis, we will make use of data collected from the following sources:

Box Office(https://www.boxofficemojo.com/)

IMDB(https://www.imdb.com/)

Rotten Tomatoes(https://www.rottentomatoes.com/)

TheMovieDB(https://www.themoviedb.org/)

The Numbers (https://www.the-numbers.com/)

# Data Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import seaborn as sns
%matplotlib inline

In [7]:
conn = sqlite3.connect('zippedData/im.db')

#movie_basics = pd.read_sql_query("SELECT * FROM movie_basics", conn)
movie_ratings = pd.read_sql_query("SELECT * FROM movie_ratings", conn)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_ratings': no such table: movie_ratings

In [ ]:
top_rated_movies= pd.read_sql('''
            SELECT primary_title, genres, averagerating, numvotes
            FROM movie_basics
            JOIN movie_ratings
            USING(movie_id)
            ORDER BY averagerating DESC
            ''', conn).head(10)

top_rated_movies

In [ ]:
# Check for missing values in each DataFrame
print("Movie Basics Missing Values:\n", movie_basics.isnull().sum())
print("\nMovie Ratings Missing Values:\n", movie_rating.isnull().sum())

In [ ]:
# Your code here - remember to use markdown cells for comments as well!